@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nothing+You+Could+Do&display=swap');
/* font-family: 'Fredoka One', cursive;

font-family: 'Nothing You Could Do', cursive; */
/* <!--------------------- Ibrahim-Start--------------------------> */
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
  @keyframes lighting {
    from {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.411), 0 0 20px rgba(0, 0, 0, 0.411), 0 0 30px rgba(0, 0, 0, 0.411), 0 0 10px rgba(0, 0, 0, 0.411), 0 0 10px rgba(0, 0, 0, 0.411), 0 0 10px rgba(0, 0, 0, 0.411), 0 0 10px rgba(0, 0, 0, 0.411);
      }
      
      to {
        text-shadow: 0 0 20px white;
      }
  }
  /* @keyframes flash {
    from {
      box-shadow: 0 0 2px -2px #f3f3f3;
    }
    to {
      box-shadow: 0 0 2px 2px #f3f3f3;
    }
  } */
  /* animation: flash 1s infinite alternate; */
/* header{
     overflow: hidden;
    display: inline-block;
    margin: 20px 0 0 40px;
    padding: 13px 40px;
    border-left: 1px #404040 solid;
    z-index: 9999;
    display: inline-block;
    color: #000;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-bottom: 2px;
    letter-spacing: 1px;
    z-index: 8888;
    font-family: 'Open Sans Condensed', sans-serif;
   font-family: 'Bellota', cursive; 
    text-align: center;
    -webkit-animation: lighting 1s ease-in-out infinite alternate;
    animation: lighting 1s ease-in-out infinite alternate;
    box-shadow:  0 0 10px 10px rgba(192, 192, 212, 0.589);
} */
/* flip  box */
.square-flip{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d; 
    /*border:1px solid #efefef;*/
    
    position:relative;
    float:left;
    margin:20px;
    }
    .square-flip{
        margin: 120px;
        width:400px;
        height:400px;
        box-shadow: 0 4px 8px 0 rgba(102, 89, 89, 0.466), 0 6px 20px 0 rgba(110, 99, 99, 0.4);
        box-shadow: 15px 15px 5px rgba(90, 81, 81, 0.733);
        /* animation: lighting 1s ease-in-out infinite alternate; */
        /* margin-top: 100px; */
    }
    .square,.square2{
        width:100%;
        height:100%;
    }
    .square{
        background-size: cover;
        background-position:center center;
        -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
        overflow: hidden;
        position:absolute;
        top:0;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
    }
    .square-flip .square{
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        z-index:1;
    }
    .square-flip:hover .square{
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
    }
    .square2{
        background-size: cover;
        background-position:center center;
        -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
        overflow: hidden;
        position:absolute;
        top:0;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
    }
    .square-flip .square2{
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        z-index:1;
    }
    .square-flip:hover .square2{
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
    /*Square content*/
    .square-container{
        padding:40px;
        text-align:center;
        position:relative;
        top:50%;
        -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
    
        -webkit-transform: translateY(-50%) translateX(0px)  scale(1);
        -ms-transform: translateY(-50%) translateX(0px)  scale(1);
transform: translateY(-50%) translateX(0px)  scale(1);
        transform-style: preserve-3d;
        z-index:2;
    }
    .square-flip:hover .square-container{
        -webkit-transform: translateY(-50%) translateX(-650px)  scale(.88);
        -ms-transform: translateY(-50%) translateX(-650px)  scale(.88);
  transform: translateY(-50%) translateX(-650px)  scale(.88);
        transform-style: preserve-3d;
    }
    .square-container2{
        padding:40px;
        text-align:center;
        position:relative;
        top:50%;
        -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
            -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
        
        -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform-style: preserve-3d;
        z-index:2;
    }
    .square-flip:hover .square-container2{
        -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform-style: preserve-3d;
    }
    /*Style text*/
    .square-flip h2{
        color:rgb(0, 0, 0);
        font-family: "Open Sans";
        font-weight:700;
        font-size:22px;
    }
    .square-flip h3{
        color:white;
        font-family: "Open Sans";
        font-weight:500;
        font-size:16px;
        line-height:26px;
    }
    /*Elements*/
    .flip-overlay{
        display:block;
        background:rgba(0,0,0,0.1);
        width:100%;
        height:100%;
        position:absolute;
        top:0;
    }
    .align-center{
        margin:0 auto;
    }
    #back1{
        margin:0 auto;
        background-image: url('https://avatars2.githubusercontent.com/u/57448850?s=460&u=3debe8d95b5c1b8cbb28f4ad524edd7aabc94e08&v=4');
        background-repeat: no-repeat;
    }
    #back2{
        margin:0 auto;
        background-image: url('https://ca.slack-edge.com/TNGRRLUMA-UTE6CC9NU-76521ca94c33-512');
        background-repeat: no-repeat;
    }
    #back3{
        margin:0 auto;
        background-image: url('https://avatars1.githubusercontent.com/u/54719438?s=400&u=7574861f4f147386966da6c8e06059252adfa64d&v=4');
        background-repeat: no-repeat;
    }
    #back4{
        margin:0 auto;
        background-image: url('https://ca.slack-edge.com/TNGRRLUMA-U011NPH83AR-5f26e4e9c971-512');
        background-repeat: no-repeat;
    }
    .kallyas-button{
        font-size: x-large;
        display:block;
        width:160px;
        padding:18px 30px;
        font-family:"Open Sans";
        font-weight:600;
        color:rgb(255, 255, 255);
        background:rgb(0, 0, 0);
        margin:0 auto;
        border-radius:2px;
        text-decoration:none;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa067+0,ff2959+49,ff2024+100 */
        background: #ffa067; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #ffa067 0%, #ff2959 49%, #ff2024 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #ffa067 0%,#ff2959 49%,#ff2024 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #756861 0%,#494243 49%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa067', endColorstr='#ff2024',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  
.textdiv h2{
    background-color:rgb(255, 255, 255);
    width: 75%;
    animation: lighting 2s ease-in-out infinite alternate;
    text-align: center;
    padding: 5px;
}
footer{
    margin-top: 1300px;
    /* border: 10px solid; */
    /* text-align: center; */
}
article {
    text-align: center;
}
article section div img{
    font-family: 'Jacques Francois Shadow', cursive;
    width: 400px;
    height: 250px;
    margin: 100px 20px auto;
    /* text-align: center; */
    /* z-index: -1; */
    /* background-repeat: no-repeat;
    /* background-image: url('http://lalesaray.com.tr/wp-content/uploads/2017/11/our-vision.jpg'); */
    /* background-size: cover;
    animation: lighting 2s ease-in-out infinite alternate; */ 
    /* box-shadow: skyblue; */
    /* border: solid 5px red; */
    /* margin-left: 40%; */
}
/* article section div{
    border: 10px solid red;
} */
article section div h2{
    /* font-family: 'Spectral', serif; */
    /* text-shadow: -1px 0 rgba(24, 22, 22, 0.849), 0 1px rgb(20, 19, 19), 1px 0 rgb(14, 13, 13), 0 -1px rgb(27, 26, 26); */
    /* border: red solid 5px; */
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    /* top: 50px; */
    margin: 10px;
    font-family: 'Fredoka One', cursive;

}
article section div p{
    /* font-family: 'Spectral', serif; */
    /* text-shadow: -1px 0 rgba(24, 22, 22, 0.849), 0 1px rgb(20, 19, 19), 1px 0 rgb(14, 13, 13), 0 -1px rgb(27, 26, 26); */
    /* border: red solid 5px; */
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    /* top: 50px; */
    margin: 10px;
    font-family: 'Nothing You Could Do', cursive;
    text-align: justify;

}
#vision-div{
    width: 70%;
    margin: 30px auto;
}
.bio{
    font-size: x-large;
    color: black;
    margin: 15px;
    /* text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0); */

}
/* div .footer-section1-map{
    display: inline-block;
} */

/* main{
    border: beige solid 10px;
} */

/* <!--------------------- Ibrahim-End--------------------------> */
