
nav {
  margin: 0;
  padding: 30px;
  background-image: radial-gradient(circle at center right, rgb(164, 0, 55), rgb(255, 65, 108));
}
nav div {
 
margin-bottom: 10px;
}
/* ------------------------------ */

.button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(300deg, #eee 0%, #e3e3e3 10%, #fff 20.1%, #fff 25%, #f0f0f0 26%, #fff 28.000000000000004%, #ddd 55.00000000000001%, #eee 100%);
  border-radius: 100px;
  border: 1px solid #c60042;
  border-width: 1px 1px 1px 1px;
  padding: 5px 20px 7px 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.25), 0px 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #c60042;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  /* text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3) */
}

.button>div {
  color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
}

.button>i {
  font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static
}

.button>.ld {
  font-size: initial
}
/* ------------------------------ */
/* <!--------------------- Ali-Start--------------------------> */
nav>a {
  z-index: 3;
  float: right;
  margin-left: 7px;
}

nav>img {
  z-index: 3;
  float: left;
  width: 80px;
  height: 45px;
}

nav>img>button {
  z-index: 3;
}

/* creating slider */

.mySlides {
  display: none
}

#firstSlide {
  display: block;
}

/* Slideshow container */

.slideshow-container {
  margin-top: 10px;
  width: 100%;
  margin: auto;
}

/* Next & previous buttons */

/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}*/

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

#cover {
  margin-top: 10px;
  width: 100%;
  height: 370px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* <!--------------------- Ali-End--------------------------> */