#inOutUp,#exploreEventsButton,#followedEventsButton,#myEventsButton{
	float: right;
}
#textLogoNav-p{
	margin: 0;
	height: 40px;
	border-radius:15px ;
	background-color: white;
	padding: 5px;
}
#textLogoNav{
	width: 150px;
	border: 1px white;
	margin: 2px;
}
   body,
   html {
	   height: 100%
   }

   body,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
	   font-family: "Amatic SC", sans-serif
   }

   .menu {
	   display: none
   }
   header.bgimg {
	   background-repeat: no-repeat;
	   background-size: cover;
	   background-image: url("/img/hmoePageImage.jpg");
	   min-height: 90%;
   }
.w3-top {
    top: 0;
}
.w3-top, .w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Amatic SC", sans-serif;
}

.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}
.w3-xlarge {
    font-size: 24px !important;
}
.w3-opacity, .w3-hover-opacity:hover {
    opacity: 0.60;
}
.w3-bar {
    width: 100%;
    overflow: hidden;
}




.w3-bar .w3-button {
    white-space: normal;
}
.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-button:hover{
	background-color: #BE5CF6 !important;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
}

.w3-black, .w3-hover-black:hover {
    color: #fff !important;
}





.w3-greyscale-min, .w3-grayscale-min {
    filter: grayscale(50%);
}
.w3-tooltip, .w3-display-container {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}


html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.w3-padding {
    padding: 8px 16px !important;
}
.w3-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}




.w3-badge, .w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}



.w3-center {
    text-align: center !important;
}
.w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	background-color: rgba(255, 255, 255, 0.726);;
	height: 150px;
}
#w3-display-middlespan{
	color: black	;
}



element {
	font-size: 100px;
}
.w3-text-white, .w3-hover-text-white:hover {
	color:black;
	
}



element {
    font-size: 60px;
}

.w3-hide-large {
    display: none !important;
}



.w3-xxlarge {
    font-size: 36px !important;
}







.w3-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}




.w3-bar-item:hover{
    background-color: lightgray;
    opacity: 0.8;
}




/* <!--------------------- ibrahim-start-footer-------------------------->  */

footer {
	padding: 20px;
	color: white;
	background-color: rgba(26, 23, 23, 0.842);
}

iframe {
	/* border: red solid 5px; */
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	margin-left: 300px;
	box-shadow: 15px 15px rgba(59, 53, 53, 0.158);
}

.social {
	display: inline-block;
	height: 50px;
	width: 50px;
}

.img1 {
	display: inline-block;
	width: 200px;
	height: 150px;
	margin-left: 150px;
	/* margin-right: 100px; */
}

div .footer-section1-map {
	display: inline-block;
}

.footer-section1 {
	display: inline-block;
	font-size: large;
	/* font-size: xx-large; */
	margin: 10px;
	/* background-color: rgba(26, 23, 23, 0.7); */
	/* margin-bottom: 10px; */
}

.footer-bottom {
	padding: 20px;
	/* background-color: white; */
	color: rgb(255, 255, 255);
	text-align: center;
	background-color: rgba(0, 0, 0);
}

.find {
	margin-bottom: 10px;
	font-size: xx-large;
	color: rgb(255, 255, 255);
	margin-left: 150px;
}

.footh1 {
	font-size: xx-large;
	margin: 10px;
}

/* <!--------------------- ibrahim-End-footer-------------------------->  */

/* <!--------------------- Ahmad-Start-------------------------->  */


/* sign style */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.container {
    position: sticky;
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 50vh;
    margin: -20px 0 50px;
    
    left: 24%;
    top: 20vh;
   
}

.container h1 {
	font-weight: bold;
	margin: 0;
}

.container h2 {
	text-align: center;
}

.container p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}




.container button {
	border-radius: 20px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.container button:active {
	transform: scale(0.95);
}

.container button:focus {
	outline: none;
}

.container button.ghost {
	background-color: transparent;
	border: 2px solid #A400FC;

}

.container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: fixed;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.overlay-left button{
    margin-top: 55px;
}
.overlay-left p{
    padding-top: 30px;
}
.overlay-right p{
    padding-top: 15px;

}
.overlay-right button{
    margin-top: 15px;
}
.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #000000;
	background: -webkit-linear-gradient(to right,#484848, #000000);
	background: linear-gradient(to right, #484848, #000000);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}
.upperDivClass{
	position: fixed;
	background-color: rgb(34, 31, 31);
	opacity: 0.5;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
}


/* sign style */

/* <!--------------------- Ahmad-End-------------------------->  */

/* <!--------------------- Ahmad-start-------------------------->  */

main nav ul {
	position: absolute;
	margin: 2% 30% 5% 45%;
	z-index: 2;
}

main nav ul li {
	display: inline-block;
}

main nav a {
	font-size: larger;
	font-weight: bold;
	color: tomato;
	margin: 0 5px;
}

main nav a:hover {
	font-size: x-large;
	font-weight: bolder;
	color: red;
}

.leftImgFirstSlide {
	position: fixed;
	width: 50%;
	height: 50%;
	float: left;
	background-image: linear-gradient(to right, transparent, mistyrose), url("https://img.freepik.com/free-vector/people-celebrating-holi-festival_23-2148423466.jpg?size=626&ext=jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.rightImgFirstSlide {
	width: 50%;
	float: right;
	background: linear-gradient(to left, transparent, white), url("	https://elements-cover-images-0.imgix.net/97972b39-fef7-45dd-b4ca-65c95196f5f1?auto=compress%2Cformat&fit=max&w=1370&s=ba09ebb7399ea0fc845fd24775780189");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.leftImgSecSlide {
	position: fixed;
	width: 50%;
	height: 50%;
	float: left;
	background-image: linear-gradient(to right, transparent, mistyrose), url("https://img.freepik.com/free-vector/people-celebrating-holi-festival_23-2148423466.jpg?size=626&ext=jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.rightImgSecSlide {
	width: 50%;
	float: right;
	background: linear-gradient(to left, transparent, mistyrose), url("	https://elements-cover-images-0.imgix.net/97972b39-fef7-45dd-b4ca-65c95196f5f1?auto=compress%2Cformat&fit=max&w=1370&s=ba09ebb7399ea0fc845fd24775780189");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* <!--------------------- Ahmad-End-------------------------->  */